seirsplus==1.0.9
tqdm==4.47.0
numba==0.48.0
scipy==1.5.2
Flask_Caching==1.9.0
numpy==1.18.5
dash_core_components==1.13.0
dash_table==4.11.0
pandas==1.0.5
typeguard==2.8.0
dash_html_components==1.1.1
matplotlib==3.2.2
seaborn==0.10.1
redis==3.5.3
networkx==2.5
Flask==1.1.2
dash==1.17.0
plotly==4.11.0
dash_bootstrap_components==0.10.7
PyGithub==1.53
datetime==4.3
scikit-learn==0.23.2
selenium==3.141.0
dask[complete]
bcrypt==3.2.0
mysql-connector-python==8.0.22
distributed==2.30.0
pytest
pytest-cov
tornado==6.0.4
lz4==3.1.0
cloudpickle==1.6.0
toolz==0.11.1
requests==2.25.0
urllib3==1.24.2
blosc==1.9.2
python-dotenv
sdeint==0.2.1
cython
littleballoffur==2.1.2
